{% extends "AppFrontEndBundle::layout.html.twig" %}


{% block content %}


    Hello Bundle!
   <a href="{{ path('app_front_end_send') }}" class="nav4">Письмо</a>
   <a href="{{ path('app_front_end_pag') }}" class="nav4">Пагинация</a>
   <a href="{{ path('app_front_end_bread') }}" class="nav4">Хлебные</a>
   <a href="{{ path('app_front_end_multi', { _locale: "ru" }) }}" class="nav4">Мультиязычность</a>
   <a href="{{ path('app_front_end_test') }}" class="nav4">Потестить</a>
   <a href="{{ path('app_front_end_autocomplite') }}" class="nav4">Api</a>
{% endblock %}
